<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h1>Educacion 1</h1>
          -
          <h3>(years)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore facilis
          quis autem aliquid doloremque placeat ratione quas dicta, laudantium
          corporis laboriosam dolorum mollitia quia numquam, quasi labore! Eaque,
          similique consequatur?
        </p>
        <li>
          <h1>Educacion 2</h1>
          -
          <h3>(years)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore facilis
          quis autem aliquid doloremque placeat ratione quas dicta, laudantium
          corporis laboriosam dolorum mollitia quia numquam, quasi labore! Eaque,
          similique consequatur?
        </p>
        <li>
          <h1>Educacion 3</h1>
          -
          <h3>(years)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore facilis
          quis autem aliquid doloremque placeat ratione quas dicta, laudantium
          corporis laboriosam dolorum mollitia quia numquam, quasi labore! Eaque,
          similique consequatur?
        </p>
      </ul>
    </div>
  </div>
  