<div class="row">
  <div class="col-xs-12  col-lg-2 presentacion">
    <img
      src="../../../assets/profile-photo.jpg"
      class="img-fluid"
      id="fotodeperfil"
    />
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 presentacion">
    <p id="nombre">Fuques Ferreyra Eduardo</p>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit
        temporibus earum, iste sunt commodi consequatur rem ab aut mollitia vel,
        magni odio dolorum quibusdam alias magnam, obcaecati expedita laboriosam
        incidunt similique. Velit, consectetur incidunt. Perspiciatis doloribus
        eos totam quo vel ducimus distinctio, blanditiis odio sequi voluptatum
        dolore animi autem laborum corrupti ullam fugiat. Fugit voluptates
        exercitationem laudantium commodi cum adipisci sed veniam voluptas? Ea,
        dolores repellendus! At iure consectetur, itaque ipsum fuga, ut tenetur
        quo recusandae doloremque facilis provident laborum?
      </p>
    </span>
  </div>
</div>
