.row{
    background-color: #2D5C4B;
}
footer{
    color: #FEFDFD;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #FEFDFD;
}
.nombre{
    margin-top: 15px;
    margin-bottom: 5px;
}