<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-xs-12 offset-sm-10 col-sm-2 offset-lg-10 col-lg-2 offset-xl-10 col-xl-2">
    <button
      type="button"
      class="btn btn-light"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Nueva Experiencia
    </button>
  </div>
  <div class="col-xs-12 offset-sm-1 col-sm-11 offset-lg-1 col-lg-11 offset-xl-1 col-xl-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of experiencia">
          <td class="col">
            <h4>{{ Experiencia.nombreE }}</h4>
          </td>
          <td class="col">{{ Experiencia.descripcionE }}</td>
          <td class="col-1" *ngIf="isLogged">
            <button
              type="button"
              class="btn btn-light"
              routerLink="/editexp/{{ Experiencia.id }}"
            >
              <i class="bi bi-pencil"></i></button>
          </td>
          <td class="col-1" *ngIf="isLogged">
            <button
              type="button"
              class="btn btn-light"
              (click)="delete(Experiencia.id)"
            ><i class="bi bi-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
