<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 texto">
      <h1>REPA</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab adipisci et
        blanditiis eligendi quisquam minima vitae aliquid. Molestias ea in vero
        eos repellat earum et consectetur ut odio, velit voluptas!
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
        <img src="../../../assets/repa.png" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
