<div class="row">
  <h1>Hard & Soft skills</h1>
  <!-- HTML -->
  <div class="circle-container text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [responsive]="true"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/html.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#2D5C4B'"
      [innerStrokeColor]="'#2D5C4B'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <span class="tooltip">HTML</span>
  </div>
  <!-- CSS -->
  <div class="circle-container text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [responsive]="true"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/CSS.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#2D5C4B'"
      [innerStrokeColor]="'#2D5C4B'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <span class="tooltip">CSS</span>
  </div>
  <!-- JS -->
  <div class="circle-container text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [responsive]="true"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/js.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#2D5C4B'"
      [innerStrokeColor]="'#2D5C4B'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <span class="tooltip">JavaScript</span>
  </div>
  <!-- GitHub -->
  <div class="circle-container text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [responsive]="true"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/git.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#2D5C4B'"
      [innerStrokeColor]="'#2D5C4B'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <span class="tooltip">GitHub</span>
  </div>
  <!-- Docker -->
  <div class="circle-container text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [responsive]="true"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/docker.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#2D5C4B'"
      [innerStrokeColor]="'#2D5C4B'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <span class="tooltip">Docker</span>
  </div>
  <!-- Inglés -->
  <div class="circle-container text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [responsive]="true"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/eng.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#2D5C4B'"
      [innerStrokeColor]="'#2D5C4B'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <span class="tooltip">Idioma: Inglés</span>
  </div>
  <!-- Trabajo Grupal -->
  <div class="circle-container text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [responsive]="true"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/grupal.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#2D5C4B'"
      [innerStrokeColor]="'#2D5C4B'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <span class="tooltip">Trabajo Grupal</span>
  </div>
  <!-- Gestión de proyectos -->
  <div class="circle-container text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [responsive]="true"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/projectmgmt.png'"
      [imageHeight]="160"
      [imageWidth]="160"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#2D5C4B'"
      [innerStrokeColor]="'#2D5C4B'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <span class="tooltip">Gestión de Proyectos</span>
  </div>
</div>
