<div class="row">
  <div class="col-xs-12  col-lg-2 presentacion">
    <img
      src="../../../assets/profile-photo.jpg"
      class="img-fluid"
      id="fotodeperfil"
    />
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 presentacion">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Programador Full Stack Web Jr., SysAdmin y DevOps. Entusiasta de la programación. Arquitecto de redes de comunicación. Estudiante de ingeniería química.
      </p>
    </span>
  </div>
</div>
