.row {
  background-color: #2d5c4b;
}
footer {
  color: #fefdfd;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 2px -2px 5px #fefdfd;
}
.nombre {
  margin-top: 15px;
  margin-bottom: 5px;
}
